<a href="https://colab.research.google.com/github/shubhamgautam1211/Machine-Learning-Standalone/blob/main/SG_8_Linear_Regression(Multiple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Linear Regression Continued**

#### Predict your scores better :)
As you saw in the previous simple linear regression task that previous year grades (G2) have significant correlation with third year grades (G3). But G2 is not direct causation of G3, there are many factors which determine G3. Let's add few more variables which may help to determine G3.

### Multiple linear regression
Multiple linear regression is simply the linear regression extended to problems where the dependent or output variable is determined by more than one independent variable.<br>

#####  $\hat{y}$ (w, x) = w_0 + w_1 * x_1 + ... + w_p * x_ps

#### Dataset
The dataset is available at __"data/multiple_linear_data.csv"__ in the respective challenge's repo.<br><br>

This is the __modified version__ of the dataset *'Student Performance'* provided by UCI Machine Learning repository.<br>
Original dataset: https://archive.ics.uci.edu/ml/datasets/student+performance

#### Features (X)
1. age - student's age (numeric: from 15 to 22)
2. address - student's home address type (binary: 'U' - urban or 'R' - rural)
3. famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
4. reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
5. studytime - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
6. failures - number of past class failures (numeric: n if 1<=n<3, else 4)
7. schoolsup - extra educational support (binary: yes or no)
8. famsup - family educational support (binary: yes or no)
9. paid - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
10. activities - extra-curricular activities (binary: yes or no)
11. higher - wants to take higher education (binary: yes or no)
12. internet - Internet access at home (binary: yes or no)
13. romantic - with a romantic relationship (binary: yes or no)
14. freetime - free time after school (numeric: from 1 - very low to 5 - very high)
15. goout - going out with friends (numeric: from 1 - very low to 5 - very high)
16. health - current health status (numeric: from 1 - very bad to 5 - very good)
17. absences - number of school absences (numeric: from 0 to 93)
18. G1 - first year math grades (numeric: from 0 to 100)
19. G2 - second year math grades (numeric: from 0 to 100)

#### Output target (Y) 
20. G3 - final year math grades (numeric: from 0 to 100, output target)

#### Objective
To learn multiple linear regression and practice handling categorical features

#### Tasks
- To load the data and print first 5 rows
- Transform categorical features into numerical features. Use either one hot encoding, label encoding or any other suitable preprocessing technique.
- Define X matrix (independent features) and y vector (target feature)
- Train Linear Regression Model (sklearn.linear_model.LinearRegression class)
- Print 'Mean Squared Error' (MSE) obtained on the same dataset i.e. same X and y (sklearn.metrics.mean_squared_error function)
- Predict on a numpy array defined by you
```python
>>> new_data = np.array([1,0,1,.....,30,20]).reshape(1,-1)
>>> print("Predicted grade:",model.predict(new_data))
```

#### Further fun (will not be evaluated)
- Train LassoRegression and RidgeRegression as well. Read about them from scikit-learn user guide.
- *Step-up challenge*: Get down the MSE (mean squared error) below 3.25 using linear models
- Implement multiple linear regression from scratch
- Plot loss curve (Loss vs number of iterations)

#### Helpful links
- Scikit-learn documentation for linear regression: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
- Read till where you feel comfortable: https://jakevdp.github.io/PythonDataScienceHandbook/05.06-linear-regression.html
- Use slack for doubts: https://join.slack.com/t/deepconnectai/shared_invite/zt-givlfnf6-~cn3SQ43k0BGDrG9_YOn4g

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# IF sklearn.compose.ColumnTransformer is used for feature transformation, then below import will help to infer features
# from helper.utils import get_column_names_from_ColumnTransformer

In [ ]:
# NOTE: DO NOT CHANGE THE VARIABLE NAME(S) IN THIS CELL
# Load the data
data = pd.read_csv('/content/drive/MyDrive/multiple_linear_data.csv')
data.head(4)

   age address famsize  reason  studytime  ...  health absences  G1  G2  G3
0   18       U     GT3  course          2  ...       3        6  25  30  30
1   17       U     GT3  course          2  ...       3        4  25  25  30
2   15       U     LE3   other          2  ...       3       10  35  40  50
3   15       U     GT3    home          3  ...       5        2  75  70  75

[4 rows x 20 columns]

In [ ]:
# You may need original list of columns to interpret the features after transformation, maybe
orig_cols = data.columns

orig_cols

Index(['age', 'address', 'famsize', 'reason', 'studytime', 'failures',
       'schoolsup', 'famsup', 'paid', 'activities', 'higher', 'internet',
       'romantic', 'freetime', 'goout', 'health', 'absences', 'G1', 'G2',
       'G3'],
      dtype='object')

In [ ]:
# Handle categorical values

In [ ]:
data.isnull().sum()  # first checking for missing values, here there are NONE

age           0
address       0
famsize       0
reason        0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
higher        0
internet      0
romantic      0
freetime      0
goout         0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [ ]:
data.nunique()  # finding no. of unique values to get a idea before transformation

age            8
address        2
famsize        2
reason         4
studytime      4
failures       4
schoolsup      2
famsup         2
paid           2
activities     2
higher         2
internet       2
romantic       2
freetime       5
goout          5
health         5
absences      34
G1            17
G2            17
G3            18
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

Categ_col = ['address', 'famsize', 'schoolsup', 'famsup', 'paid', 'activities', 'higher', 'internet', 'romantic']

for i in Categ_col:
    data[i] = le.fit_transform(data[i])

In [ ]:
data.head(5)

   age  address  famsize  reason  studytime  ...  health  absences  G1  G2  G3
0   18        1        0  course          2  ...       3         6  25  30  30
1   17        1        0  course          2  ...       3         4  25  25  30
2   15        1        1   other          2  ...       3        10  35  40  50
3   15        1        0    home          3  ...       5         2  75  70  75
4   16        1        0    home          2  ...       5         4  30  50  50

[5 rows x 20 columns]

In [ ]:
from sklearn.preprocessing import OneHotEncoder  #one hot encoder, extra features , can use pandas get_Dummy also
ohe = OneHotEncoder()

enc = ohe.fit_transform(data[['reason']])
data[['course', 'home', 'other', 'reputation']] = enc.toarray()

data = data.drop('reason', axis = 1)

In [ ]:
data

     age  address  famsize  studytime  ...  course  home  other  reputation
0     18        1        0          2  ...     1.0   0.0    0.0         0.0
1     17        1        0          2  ...     1.0   0.0    0.0         0.0
2     15        1        1          2  ...     0.0   0.0    1.0         0.0
3     15        1        0          3  ...     0.0   1.0    0.0         0.0
4     16        1        0          2  ...     0.0   1.0    0.0         0.0
..   ...      ...      ...        ...  ...     ...   ...    ...         ...
390   20        1        1          2  ...     1.0   0.0    0.0         0.0
391   17        1        1          1  ...     1.0   0.0    0.0         0.0
392   21        0        0          1  ...     1.0   0.0    0.0         0.0
393   18        0        1          1  ...     1.0   0.0    0.0         0.0
394   19        1        1          1  ...     1.0   0.0    0.0         0.0

[395 rows x 23 columns]

In [ ]:
#Define your X and y
X = data.loc[:, data.columns != 'G3']
y = data.loc[:, data.columns == 'G3']


print(X.shape)
print(y.shape)

(395, 22)
(395, 1)

In [ ]:
# Initialize the model
from sklearn.linear_model import LinearRegression
model = LinearRegression(fit_intercept=True)

In [ ]:
# Fit the model. Wait! We will complete this step for you ;)
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

model.predict() : given a trained model, predict the label of a new set of data. This method accepts one argument, the new data X_new (e.g. model.predict(X_new)), and returns the learned label for each object in the array.

In [ ]:
# Print mean squared error
mse = np.mean( (y - model.predict(X))**2 )

print(f"\nMSE: {mse}")

#ANOTHER WAY# 
#from sklearn.metrics import mean_squared_error
#mean_squared_error(y,model.predict(X))

MSE: G3    85.276425
dtype: float64

In [ ]:
# Predict on your own data
random = np.random.randint
new_data = [[random(8, 40), random(8, 45), random(0,37), random(3,17), random(0,21), random(4,44),
             random(8,22), random(7,33), random(0,10), random(0,30), random(6,33), random(10,41), random(12,34), 
             random(30,55), random(4,20), random(7,73), random(13, 93), random(17, 62), random(8,38), random(4,28),
             random(5,11), random(11,29)]]

print("Predicted grade:",model.predict(new_data))

Predicted grade: [[54.26817152]]

In [ ]:
print(new_data) #just getting to know

[[39, 37, 29, 11, 1, 35, 20, 19, 1, 8, 27, 31, 23, 33, 13, 12, 90, 40, 29, 19, 5, 27]]

## **OR BELOW**

In [ ]:
 # Predict on your own data
 new_data = np.array([1,0,16,22,34,55,62,33,22,11,15,5,7,9,0,91,12,11,77,44,22,57]).reshape(1,-1)
 print("Predicted grade:",model.predict(new_data))

Predicted grade: [[64.55953748]]